body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

.logo{
    margin-bottom: 38px;
    margin-top: 63px;
}

.logo-text{
    font-size: 80px;
    color:#4BCAFF;
    text-decoration: none;
}

.logo-text span{
    color:#000000;
}

.main-menu{
    background-color: #35444F;
    height: 72px;
    margin-bottom: 48px;
}

.header-menu{
    display: flex;
    justify-content: center;
}

.menu-item{
    border-right: 1px solid #fff;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    line-height: 72px;
    font-size: 24px;
}

.menu-item:nth-child(1){
    border-left: 1px solid #fff;
}

.menu-item:nth-child(2):hover{
    background-color: #222f3a;
}

.content{
    display:flex;
    align-items: flex-start;
}

.aside{
    width: 344px;
    margin-right: 52px;
    border: 1px solid #000;
}

.aside-menu{
    display: flex;
    flex-direction: column;
}

.aside-menu-item{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
    font-size: 27px;
    color: #495863;
}

.aside-menu-item:nth-child(2):hover{
    background-color: #DBDBDB;
    padding-left: 78px;
    color: black;
}

.main{
    width: 885px;
}

.main-image{
    height: 529px;
    border: 1px solid #000;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
}

.main-image img{
    align-self: center;
    transition: transform 0.25s;
}

.main-image img:hover{
    transform: scale(1.1);
}

.paragraph{
    font-size: 18px;
    color: #2C2C2C;
}

.paragraph:nth-child(2){
    margin-bottom: 34px;
}

.footer-menu{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 54px;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
}

.footer-menu-item{
    font-size:28px;
    color: #0C1927;
    flex-grow: 1;
}

.footer-menu-item:nth-child(2):hover{
    text-decoration: underline;
    color: #3181A6;
}

.copyright{
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
    font-size: 24px;
}